<div class="-row" id="header">
    <div class="-left">
        <!-- <img src="../../assets/img/logo.png" alt="logo" id="logo"> -->
        <span style="padding: 2em;">LOGO</span>
    </div>
    <div class="-right">
        <span style="padding: 2em;">BOILERPLATE</span>
    </div>
</div>

<style>
    #header {
        background: #2f2f2f;
        color:white;
    }

    #logo{
        height: 5em;
    }
</style>