<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font.css">
    <title>Boilerplate</title>
</head>

<%-include('./components/header');%>
<body id="app" class="-fixed -view -zero -content-center -no-scrolls -heebo" style="box-sizing: border-box;">
    <div id="main" class="-centered">
        <%-include('./components/content');%>
    </div>
</body>

<script>
    (function () {
        if (window.innerWidth < 1600) document.body.style.fontSize = Math.max(2, 14 * (window.innerWidth / 1600)) + 'px'
    })()
</script>

</html>